*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}
.grid-container .side-bar{
    width: 15vw;
    background-color: black;
    overflow: hidden;
    transition: .4s;
} 
.grid-container .main{
    width: 85vw;
    height: 100vh;
}
.side-bar .active{
    font-weight: bold;
    color: white
}
.side-bar li{
    height: 40px;
    padding: 15px 0px 0px 15px;
    border-bottom: 1px solid darkgrey;
    transition: .3s;
}
.side-bar li a{
    color: lightgrey;
    text-decoration: none;
    transition: .3s;
}
.side-bar li:hover{
    background: darkgray;
    transition: .3s;
    cursor: pointer;
}
.side-bar li:hover a{
    font-weight: bold;
    color: white;
    transition: .3s
}
.inner{
    display: grid;
    width: 80%;
    margin: auto;
    height: 95%;
    background: white;
    position: relative;
}
.inner .logo{
}
.inner .logo div{
    width: 300px;
    height: 150px;
    margin: auto;
    padding: 20px 20px 0px 20px;
}
.inner .title{
    width: 100%;
    height: 170px;
    background: lightgrey;
    text-align: center;
    padding: 30px 50px 
}
.inner .title h4{
    margin-bottom: 20px
}
.inner .title .down{
    padding: 15px 140px 0px 140px;
    font-size: 15px;
}
.inner .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.inner .cards .card .container{
    display: flex;
    flex-wrap: wrap;
}
.inner .cards .card img{
    width: 100px;
    height: auto;
    margin-right: auto;
    float: left;
}
.inner .cards .card .title1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.inner .cards .card{
    width: 300px;
    margin: auto;
    padding: 15px;
    
}
.inner .cards .card p{
    text-align: justify;
}
.footer{
    width: 85vw;
    height: 5%;
    padding-left: 10%
}

/*=======SIDE BAR COLLAPSE*/
.grid-container .side-bar .closebtn{
    text-decoration: none;
    font-size: 30px;
    color: white;
    float: right;
    margin: 15px 15px 0px 0px
}
#main {
    position: absolute;
    left: 0;
    top: 0;
    transition: margin-left .5s;
    padding: 16px;
    transform: translateX(0px);
    z-index: 2;
  }

/*responsive*/

/* @media (max-width: 1037px){
    .inner .title {
        height: 300px !important;

    }
}


@media (max-width: 775px){
    .inner .title {
        height: 400px !important;
    }
}
@media (max-width: 700px){
    .inner .title .down{
        padding: 15px !important;
    }
    .inner .title {
        height: 300px !important;
    }
    body .grid-container .side-bar{
        position: fixed;
        width: 200px;
        height: 100%;
        z-index: 1;
    }
} */
@media (max-width: 972px){
    .main{
        height: 1200px !important;
    }
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}